*{
    padding: 0;
    margin: 0;

}

body{
    
    font-family: Arial, Helvetica, sans-serif;
    
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    padding:   20px;
    padding-bottom: 180px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
ul{
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}


a{
    line-height: 80px;
    color: #fff;
    padding: 12px 32px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

a:hover{
    background-color: rgb(126, 133, 153);
    color: rgb(221, 213, 197);
    border-radius: 20px;
}


section{
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}